html,body {
    width: 100%;
    height: 100%;
    margin:0; 
	padding:0;
	background: #f9f9f9;
	font-family: 'Helvetica Neue', sans-serif;
	color: #003b43; 
	font-size: 12px;
	line-height: 1.6;
	font-weight: 300; 
	letter-spacing: 0px;
	overflow-x:hidden;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}
em { font-style: italic; color:#4a8bd0 ;}
a {
	color: #0084FF;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
}
a:hover {
	color: blue;
	text-decoration: none;
}
h1 {
    font-size: 24px;
    line-height: 35px;
}
h2 {
    font-size: 21px;
    line-height: 28px;
}
h3 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
}
h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
h5 {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
}
h6 {
    font-size: 13px;
    margin-bottom: 10px;
}
.title-divider {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 10px;
    padding: 6px 0;
    position: relative;
    text-align: left;
}
.title-divider span {
    background: #4a8bd0 none repeat scroll 0 0;
    bottom: -1px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 80px;
}
.bg-gray {background:#e2e2e2; padding: 10px; }
.bg-hue {background:#B95835; }
.red {color:#F67F54; }
.white { color:#fff; }
.black { color:#333; }
.grey { color:#999; }
.grey a:hover { color:#bbb; }
.purple {color: #7A2961;}
.hue { color: #b95835;  }
.green {color: #2ecc71; }

.margin-top-10 {
	margin-top: 10px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-40 {
	margin-top: 40px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.profile-links {
	color: #fff;
	font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
	margin-top: 25px;	
}
.profile-links a {
	color: #fff;
	text-transform: uppercase;
}
.profile-links a:hover, .profile-links a.active {
	color: #ddd;
}
.clearfix {	display: inline-block; }
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
header {
	padding-top: 20px;
	background: #6C4D80;
	min-height: 80px;
}
.logo {
	border: 1px solid #eca364;
	padding: 2px;
}
header .nav-pills {
	margin-top: 15px;
}
header .nav-pills li a {
	font-weight: 700;
    padding: 4px 10px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
header .nav-pills li a.active, header .nav-pills li a:hover {
	background: #337ab7;
	color: #fff;
}
.branding {
	margin-top: 7px;
	color: #ddd;
	font-size: 32px;
	border: 2px solid #4c7bd0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px 5px 3px;
    display: inline-block;
}
.right-branding {
	margin-top: 7px;
	color: #ddd;
	font-size: 32px;
	border: 2px solid #4c7bd0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.right-branding img {
    background: #fff;
}
.right-branding span{
	display: block;
	font-size: 13px;
}
.right-branding span, .right-branding span a {
	color: #ddd;
}
.panel {
	border-bottom: 1px solid #ddd;
}
.hidden, .hidden_input {
	display: none;
}

.form-element,.field-element {
	width: 74%;
	min-width: 250px;
}
.form-control {
	box-shadow: none;
	border-radius: 0;
	height: 29px;
	line-height: 30px;
	font-size: 13px;
}
.btn {
	padding: 4px 12px;
	font-size: 13px;
}
.form-error {
	display:block;
	clear: both;
	color: #dd0025;
}
label { display: block; }
input[type="text"] { width: 100%;}
input[type="text"], input[type="password"],select,textarea, input[type="search"] {
	background:#eef3f4;
	border: 1px solid #A4BED4;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: .3em;
}
input[type="radio"], input[type="checkbox"] {
	_display: inline;
}
textarea {
 	overflow: auto;
}
input.date, input.date-year {
	background: #eef3f4 url('../img/calendar_hover.jpg') no-repeat right center !important;
	cursor: pointer;
	width: 100px;
}
input.date:hover, input.date-year:hover {
	background:#eef3f4 url('../img/calendar.jpg') no-repeat right center !important;
	cursor: pointer;
	width: 100px;
}
.no-border {
	border: none;
}
.tab-widget .nav {
    margin:0px;
}
#assessment-tabs {
	margin-bottom: 10px;
}
.carousel {
	height: 300px;
	margin-bottom: 20px;
}
.profile-info {
    padding: 10px 0px;
}
.notes {
	padding: 0.5em;
	border: 1px solid #ccc;
	background-color: #ebebeb;
	margin-bottom: 0.5em;
}
.green-notes {
	background: #ebebeb;
	border-color: #72CB67;
}
.blue-notes {
	background: #dce6f3;
	border-color: #0084FF;
}
.yellow-notes {
	background: #ebebeb;
	border-color: #ffffcc;
}
.red-notes {
	background: #ebebeb;
	border-color: #f5dcdd;
}
/* Tooltips */
.tipsy {
	background : url('../img/tooltip.gif') no-repeat top center;
	padding : 5px;
}

.tipsy-inner {
	background-color: #002e68;
	padding: 5px 8px 4px 8px;
	text-align: center;
	color: #FFFFFF;
	font-size : 11px;
	max-width: 1000px;
}

.wrapper-left-bordered {
	border-left: 1px solid #ddd;
	padding: 15px;
}

ul.list-unstyled li {
	border-bottom: 1px dotted rgba(150, 150, 150, 0.18);
	display: block;
	font-size: 13px;
	font-weight: 400;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
}

.inner-padding { padding: 20px 0; }

.circle {
	display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -web-kit-border-radius: 50%;
}
.diamond {
	display: inline-block;
    width: 8px;
    height: 4.4px;
    position: relative;
}
.diamond:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 2px solid red;
}
.diamond:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 2px solid red;
}

footer {
	text-align: left;
	padding: 15px 0px;
	border-top: 1px solid #E4E4E4;
}